.questionHeader {
  position: relative;
  -webkit-font-smoothing: antialiased;

  .counter {
    position: absolute;
    right: 100%;
    padding-right: 8px;
    height: 32px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(79, 176, 174);
    line-height: 20px;
  }

  .counterValue {
    max-width: 100%;
    font-weight: unset;
    line-height: 20px;
    margin: 0;
  }

  .counterArrow {
    margin-left: 4px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: block;
    fill: rgb(79, 176, 174);
    transition: fill 0.2s ease 0s;
  }

  .question {
    max-width: 100%;
    font-weight: unset;
    line-height: 32px;
    color: rgb(61, 61, 61);
    margin: 0;

    @media (max-width: 425px) {
      line-height: 28px;
    }
  }

  .requiredAsterisk {
    max-width: 100%;
    font-weight: unset;
    display: inline;
    line-height: 32px;
    margin: 0;
  }
}

.answer {
  margin-top: 40px;
  outline: none;
}
