.container {
  width: 100%;
  max-width: 840px;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding-left: 52px;
    padding-right: 52px;
  }

  @media (max-width: 425px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}