.xl {
  font-size: 24px;
}

.l {
  font-size: 20px;
}

.m {
  font-size: 16px;
}

.s {
  font-size: 14px;
}

.xs {
  font-size: 12px;
}

@media (max-width: 425px) {
  .xl {
    font-size: 20px;
  }

  .l {
    font-size: 16px;
  }

  .m {
    font-size: 14px;
  }

  .s {
    font-size: 12px;
  }
}
