.controls {
  position: absolute;
  background: rgb(79, 176, 174);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  z-index: 10;
  user-select: none;
  right: 16px;
  bottom: 16px;

  @media (max-width: 425px) {
    right: 8px;
    bottom: 8px;
  }
}

.sep {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.button {
  width: 36px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    display: block;
    fill: rgba(255, 255, 255, 0.6);
    transition: fill 0.2s ease 0s;
  }

  &.active {
    &:hover {
      background: rgb(105, 188, 186);
    }

    svg {
      fill: white;
    }
  }
}
