.options {
  margin-top: 32px;
  display: flex;
  border: 1px solid rgb(79, 176, 174);
  border-radius: 3px;
  overflow: hidden;
  background: rgba(79, 176, 174, 0.1);
}

@keyframes choose {
  50% {
    opacity: 0.1;
  }
}

.optionWrap {
  width: 100%;
}

.option {
  width: 100%;
  display: flex;
  height: 62px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(79, 176, 174, 0.6) -1px 0px;;
  color: rgb(79, 176, 174);
  cursor: pointer;

  &:hover {
    background: rgba(79, 176, 174, 0.3);
  }
}

.input {
  display: none;
}

.input:checked + .option {
  background: rgb(79, 176, 174);
  color: rgb(237, 247, 247);
  animation: 0.2s ease 0s 2 normal none running;
  animation-name: choose;
}
