.errorSpace {
  margin-top: 16px;
  height: 42px;
}

.error {
  background-color: rgba(153, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
  display: inline-block;
}
