.wrap {
  margin: 48px 0 80px;
  padding: 0 52px;
}

.content {
  line-height: 32px;
  color: rgb(61, 61, 61);
  display: block;

  blockquote {
    position: relative;
    margin: 0;
    quotes: "“" "”";

    &::before {
      content: open-quote;
      font-size: 46px;
      color: rgb(79, 176, 174);
      position: absolute;
      right: 100%;
      padding-right: 8px;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 32px;

  > * + * {
    margin-left: 12px;
  }
}

.button {
  position: relative;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 12px 0;
  min-height: 40px;
  background-color: rgb(79, 176, 174);
  color: rgb(255, 255, 255);
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, opacity 0.2s ease 0s;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  padding: 6px 14px;
  border-color: transparent;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 28px;

  &:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(105, 188, 186);
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, opacity 0.2s ease 0s;
  }

  &:active {
    background-color: rgb(71, 158, 157);
    transition: all 0.1s ease 0s;
  }
}

.buttonDesktopHint {
  font-size: 12px;
  line-height: 16px;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
