.wrap {
  max-width: 100%;
  min-width: 168px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.choiceWrap {
  width: 100%;
  background-color: rgba(79, 176, 174, 0.1);

  & + .choiceWrap {
    margin-top: 8px;
  }
}

.input {
  display: none
}

.choice {
  display: flex;
  align-items: center;
  color: rgb(79, 176, 174);
  box-shadow: rgba(79, 176, 174, 0.6) 0 0 0 1px inset;
  cursor: pointer;
  opacity: 1;
  will-change: opacity;
  border-radius: 4px;
}

.key {
  box-shadow: transparent 0 0 0 1px;
  margin: 8px;
  font-family: sans-serif;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  align-self: flex-start;
}

.keyContent {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(79, 176, 174);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  border-color: rgba(79, 176, 174, 0.6);
  text-align: center;
  display: flex;
}

.keyHint {
  padding-left: 7px;
  display: none;
}

.keyLetter {
  width: 24px;
  height: 24px;
  font-weight: bold;
}

.choiceText {
  flex-grow: 1;
  min-width: 100px;
  padding: 4px 12px 4px 0;
  font-weight: normal;
  line-height: 28px;

  @media (max-width: 425px) {
    line-height: 24px;
  }
}

.check {
  padding-right: 12px;
}

.checkIcon {
  display: block;
  fill: rgb(79, 176, 174);
  transition: fill 0.2s ease 0s;
  opacity: 0;
}

@keyframes check-animation {
  50% {
    opacity: .3;
  }
}

.choice:hover {
  .keyHint {
    display: block;
  }
}

.input:checked + .choice, .choice:hover {
  background: rgba(79, 176, 174, 0.3);
}

.input:checked + .choice {
  box-shadow: rgba(79, 176, 174, 0.8) 0 0 0 2px inset;
  animation: 0.25s ease 0s 2 normal none running;
  animation-name: check-animation;

  .keyContent {
    background-color: rgb(79, 176, 174);
    color: rgb(255, 255, 255);
  }

  .checkIcon {
    opacity: 1;
  }
}
